:root {
	--colorTransparentBlack: #1b2124;
	--colorWhite: #ffffff;
	--colorBlack: #000000;
	--colorPrimary: #ad1a33;
	--colorGradient1: linear-gradient(to bottom, #0a0101 0%, #ad1a33 100%);
	--colorGray25: #fcfcfd;
	--colorGray50: #f9fafb;
	--colorGray100: #f2f4f7;
	--colorGray200: #e4e7ec;
	--colorGray300: #d0d5dd;
	--colorGray400: #98a2b3;
	--colorGray500: #667085;
	--colorGray600: #475467;
	--colorGray700: #344054;
	--colorGray800: #1d2939;
	--colorGray900: #101828;
	--colorSuccess25: #f2fbf7;
	--colorSuccess50: #e6f6ef;
	--colorSuccess100: #c4e9d9;
	--colorSuccess200: #7cc6a6;
	--colorSuccess300: #65b894;
	--colorSuccess400: #43ab7f;
	--colorSuccess500: #268d61;
	--colorSuccess600: #1b8457;
	--colorSuccess700: #0f623f;
	--colorSuccess800: #084b2f;
	--colorSuccess900: #04301d;
	--colorWarning25: #fffcf5;
	--colorWarning50: #fffaeb;
	--colorWarning100: #fef0c7;
	--colorWarning200: #fedf89;
	--colorWarning300: #fec84b;
	--colorWarning400: #fdb022;
	--colorWarning500: #f79009;
	--colorWarning600: #dc6803;
	--colorWarning700: #b54708;
	--colorWarning800: #93370d;
	--colorWarning900: #7a2e0e;
	--colorBlue25: #f5faff;
	--colorBlue50: #eff8ff;
	--colorBlue100: #d1e9ff;
	--colorBlue200: #b2ddff;
	--colorBlue300: #84caff;
	--colorBlue400: #53b1fd;
	--colorBlue500: #2e90fa;
	--colorBlue600: #1570ef;
	--colorBlue700: #175cd3;
	--colorBlue800: #1849a9;
	--colorBlue900: #194185;
	--colorError25: #fffbfa;
	--colorError50: #fef3f2;
	--colorError100: #fee4e2;
	--colorError200: #fecdca;
	--colorError300: #fda29b;
	--colorError400: #f97066;
	--colorError500: #f3291a;
	--colorError600: #d92d20;
	--colorError700: #b42318;
	--colorError800: #912018;
	--colorError900: #7a271a;
	--colorPink900: #851651;
	--colorPink800: #9e165f;
	--colorPink700: #c11574;
	--colorPink600: #dd2590;
	--colorPink500: #ee46bc;
	--colorPink400: #f670c7;
	--colorPink300: #faa7e0;
	--colorPink200: #fcceee;
	--colorPink100: #fce7f6;
	--colorPink50: #fdf2fa;
	--colorPink25: #fef6fb;
	--colorRose900: #89123e;
	--colorRose800: #a11043;
	--colorRose700: #c01048;
	--colorRose600: #e31b54;
	--colorRose500: #f63d68;
	--colorRose400: #fd6f8e;
	--colorRose300: #fea3b4;
	--colorRose200: #fecdd6;
	--colorRose100: #ffe4e8;
	--colorRose50: #fff1f3;
	--colorRose25: #fff5f6;
	--colorBlueGray900: #101323;
	--colorBlueGray800: #293056;
	--colorBlueGray700: #363f72;
	--colorBlueGray600: #3e4784;
	--colorBlueGray500: #4e5ba6;
	--colorBlueGray400: #717bbc;
	--colorBlueGray300: #9ea5d1;
	--colorBlueGray200: #c8cce5;
	--colorBlueGray100: #eaecf5;
	--colorBlueGray50: #f8f9fc;
	--colorBlueGray25: #fcfcfd;
	--colorIndigo900: #2d3282;
	--colorIndigo800: #2d31a6;
	--colorIndigo700: #3538cd;
	--colorIndigo600: #444ce7;
	--colorIndigo500: #6172f3;
	--colorIndigo400: #8098f9;
	--colorIndigo300: #a4bcfd;
	--colorIndigo200: #c7d7fe;
	--colorIndigo100: #e0eaff;
	--colorIndigo50: #eef4ff;
	--colorIndigo25: #f5f8ff;
	--colorBlueLight900: #0b4a6f;
	--colorBlueLight800: #065986;
	--colorBlueLight700: #026aa2;
	--colorBlueLight600: #0086c9;
	--colorBlueLight500: #0ba5ec;
	--colorBlueLight400: #36bffa;
	--colorBlueLight300: #7cd4fd;
	--colorBlueLight200: #b9e6fe;
	--colorBlueLight100: #e0f2fe;
	--colorBlueLight50: #f0f9ff;
	--colorBlueLight25: #f5fbff;
	--colorPurple900: #42307d;
	--colorPurple800: #53389e;
	--colorPurple700: #6941c6;
	--colorPurple600: #7f56d9;
	--colorPurple500: #9e77ed;
	--colorPurple400: #b692f6;
	--colorPurple300: #d6bbfb;
	--colorPurple200: #e9d7fe;
	--colorPurple100: #f4ebff;
	--colorPurple50: #f9f5ff;
	--colorPurple25: #fcfaff;

	--basicRadius: 0.375rem;
}
